################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BanBif.Comunes/bin/Debug
/BanBif.Comunes/obj/Debug
/BanBif.Nuevo.Pandora.Api/bin/es
/BanBif.Nuevo.Pandora.Api/bin
/BanBif.Nuevo.Pandora.Api/obj/Debug
/BanBif.Nuevo.Pandora.App/obj/Debug
/BanBif.Nuevo.Pandora.App/bin
/BanBif.Nuevo.Pandora.BE/bin/Debug
/BanBif.Nuevo.Pandora.BE/obj/Debug
/BanBif.Nuevo.Pandora.BL/bin/Debug
/BanBif.Nuevo.Pandora.BL/obj/Debug
/BanBif.Nuevo.Pandora.DA/bin/Debug
/BanBif.Nuevo.Pandora.DA/obj/Debug
/packages
/BanBif.Comunes/obj/Release
/BanBif.Nuevo.Pandora.Api/obj/Release
/BanBif.Nuevo.Pandora.App/obj/Release
/BanBif.Nuevo.Pandora.BE/obj/Release
/BanBif.Nuevo.Pandora.BL/obj/Release
/BanBif.Nuevo.Pandora.DA/obj/Release
/.vs/NuevoPandora/FileContentIndex
