
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("hdn_Listar_acClientes", Url.Action("ListarClientes", "AgendaComercialPJ"))
@Html.Hidden("hdn_Obtener_acClientes", Url.Action("ObtenerClientes", "AgendaComercialPJ"))
<style>
    html:not([dir=rtl]) .modal-simple .btn-close {
        right: 0rem;
    }

    .modal-simple .modal-content {
        padding: 3rem 1rem 3rem 1rem;
    }

    h3, .h3, h5, .h5, h6, .h6 {
        margin-bottom: 0
    }

    .columna1 {
        text-align: center;
        background-color: #f5f5f5;
        border-radius: 5px;
        padding-top: 25px;
        padding-bottom: 25px;
        height: 450px;
    }

    .columna2 {
        background-color: #ffffff;
        border-radius: 5px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
        height: 450px;
        border-block-width: 1px;
        border-color: whitesmoke;
        border-style: solid;
        overflow-x: hidden;
    }
</style>
<h2>Agenda Comercial PJ / Clientes</h2>

<div class="card">
    <div class="card-datatable table-responsive">
        <table class="datatables-users table border-top">
            <thead>
                <tr>
                    <th></th>
                    <th>Razon Social</th>
                    <th>RUC</th>
                    <th>Giro de Negocio</th>
                    <th>Segmento</th>
                    <th>Score</th>
                    <th>Cross</th>
                    <th>Facturación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="editProspecto" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
            <div class="modal-content p-3 p-md-5">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-4">
                        <h3 id="offcanvasProspectoLabel">Agregar Cita</h3>
                    </div>

                    <div class="text-lg-start mb-4">
                        <h4>Datos Iniciales</h4>
                    </div>

                    <form id="experimentoForm" class="row g-3" onsubmit="return false">
                        @Html.Hidden("modalhdnIdProspecto", "0")
                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtRuc">RUC</label>
                            <input type="text"
                                   id="modaltxtRuc"
                                   name="modaltxtRuc"
                                   class="form-control"
                                   placeholder="RUC*" />
                        </div>
                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtRazonSocial">Razón Social</label>
                            <input type="text"
                                   id="modaltxtRazonSocial"
                                   name="modaltxtRazonSocial"
                                   class="form-control"
                                   placeholder="Razón Social*" />
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="form-label" for="user-role">Giro de Negocio</label>
                            <select id="modalSelectGiroNegocio" class="form-select">
                                <option value="">Seleccionar</option>
                                <option value="1">Restaurantes</option>
                            </select>
                        </div>

                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtGrupoEconomico">Grupo Económico</label>
                            <input type="text"
                                   id="modaltxtGrupoEconomico"
                                   name="modaltxtGrupoEconomico"
                                   class="form-control"
                                   placeholder="Grupo Económico" />
                        </div>

                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtTelefono">Teléfono de Empresa</label>
                            <input type="text"
                                   id="modaltxtTelefono"
                                   name="modaltxtTelefono"
                                   class="form-control"
                                   placeholder="Teléfono de Empresa" />
                        </div>

                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtDireccion">Dirección de Empresa</label>
                            <input type="text"
                                   id="modaltxtDireccion"
                                   name="modaltxtDireccion"
                                   class="form-control"
                                   placeholder="Dirección de Empresa*" />
                        </div>

                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtFacturacion">Facturación</label>
                            <input type="text"
                                   id="modaltxtFacturacion"
                                   name="modaltxtFacturacion"
                                   class="form-control"
                                   placeholder="Facturación" />
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="form-label" for="user-role">Moneda (Facturación)</label>
                            <select id="modalSelectGiroNegocio" class="form-select">
                                <option value="">Seleccionar</option>
                                <option value="1">SOL</option>
                                <option value="2">USD</option>
                            </select>
                        </div>

                        <div class="validate col-12 col-md-12">
                            <br />
                            <h4>Datos de Contacto</h4>
                        </div>


                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtNombre">Nombre y Apellido</label>
                            <input type="text"
                                   id="modaltxtNombre"
                                   name="modaltxtNombre"
                                   class="form-control"
                                   placeholder="Nombre y Apellido*" />
                        </div>


                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtCargo">Cargo en la Empresa</label>
                            <input type="text"
                                   id="modaltxtCargo"
                                   name="modaltxtCargo"
                                   class="form-control"
                                   placeholder="Cargo en la Empresa" />
                        </div>


                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtTelefonoContacto">Teléfono</label>
                            <input type="text"
                                   id="modaltxtTelefonoContacto"
                                   name="modaltxtTelefonoContacto"
                                   class="form-control"
                                   placeholder="Teléfono*" />
                        </div>


                        <div class="validate col-12 col-md-6">
                            <label class="form-label" for="modaltxtCorreo">Correo Electrónico</label>
                            <input type="text"
                                   id="modaltxtCorreo"
                                   name="modaltxtCorreo"
                                   class="form-control"
                                   placeholder="Correo Electrónico" />
                        </div>

                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit" id="btn_Experimento">Guardar</button>
                            <button type="reset"
                                    class="btn btn-label-secondary"
                                    data-bs-dismiss="modal"
                                    aria-label="Close">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="verdetalleProspecto" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-simple modal-edit-user" style="max-width: 80%;" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    @*<div class="text-center mb-4">
                            <h3 id="offcanvasProspectoLabel">Agregar Cita</h3>
                        </div>*@

                    @*<div class="text-lg-start mb-4">
                            <h4>Datos Iniciales</h4>
                        </div>*@

                    <form id="experimentoForm" class="row g-3" onsubmit="return false">
                        @Html.Hidden("modalhdnIdProspecto", "0")
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="columna1">
                                        <h4 id="spanRazonSocial">Agua Lima Sac</h4>
                                        <div id="spanRUC">10203000345</div>
                                        <br />
                                        <div id="spanDireccion">Av Rivera Navarrete 786</div>
                                        @*<div id="spanRUC">-Oficina 401</div>*@
                                        <br />
                                        <div id="spanUbigeo">Lima - Lima - San Isidro</div>
                                        <br />
                                        <h5>Giro de Negocio</h5>
                                        <div id="spanGiroNegocio">Cultivo de Hort. y Leg.</div>
                                        <br />
                                        <h5>Grupo Económico</h5>
                                        <div id="spanGrupoEconomico">Grupo Fierro SAC</div>
                                        <br />
                                        <div id="spanCorreo">export@agualima.com</div>
                                        <div id="spanTelefono">324 5000</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="columna2">
                                        <h5>Sectorista</h5>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6"><h6>Ejecutivo</h6></div>
                                            <div class="col-md-6"><h6>Oficina</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Erika Reyka</div>
                                            <div class="col-md-6">San Miguel</div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6"><h6>Banca</h6></div>
                                            <div class="col-md-6"><h6>Oficina</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Banca Negocio</div>
                                            <div class="col-md-6">Zona 3</div>
                                        </div>
                                        <br />
                                        <h5>Datos del Negocio</h5>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-7"><h6>Segmento</h6></div>
                                            <div class="col-md-5"><h6>SOW</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7" id="spanSegmento">A. Potencial - A. Vinculación</div>
                                            <div class="col-md-5" id="spanSOW">30%</div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-7"><h6>Volumen Negocio</h6></div>
                                            <div class="col-md-5"><h6>Score</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7" id="spanVolumenNegocio">$354 000</div>
                                            <div class="col-md-5" id="spanScore">3</div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-7"><h6>Volumen Pasivos</h6></div>
                                            <div class="col-md-5"><h6>Rentabilidad</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7" id="spanVolumenPasivos">$40 000</div>
                                            <div class="col-md-5" id="spanRentabilidad">$15 000</div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-7"><h6>Volumen Activos</h6></div>
                                            <div class="col-md-5"><h6>Calificación BanBif</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7" id="spanVolumenActivos">$300 000</div>
                                            <div class="col-md-5" id="spanCalificacionBanBif">Normal</div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-7"><h6>Volumen Contingentes</h6></div>
                                            <div class="col-md-5"><h6>ROE del Cliente</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7" id="spanVolumenContingentes">$5 000</div>
                                            <div class="col-md-5" id="spanROE">20</div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-7"><h6>Cross</h6></div>
                                            <div class="col-md-5"><h6>Calificación SSFF</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7" id="spanCrossCliente">1.25</div>
                                            <div class="col-md-5" id="spanCalificacionSSFF">Normal</div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-7"><h6>Sistema de Vigilancia</h6></div>
                                            <div class="col-md-5"><h6>Línea Disponible</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7" id="spanSistemaVigilancia">Vigilar</div>
                                            <div class="col-md-5" id="spanLineaDisponible">S/. 100 000</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    One of three columns
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    Personas de Contacto
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page JS -->
@section Scripts
{
    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/moment/moment.js"></script>
    <script src="../../assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/datatables-buttons/datatables-buttons.js"></script>
    <script src="../../assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/jszip/jszip.js"></script>
    <script src="../../assets/vendor/libs/pdfmake/pdfmake.js"></script>
    <script src="../../assets/vendor/libs/datatables-buttons/buttons.html5.js"></script>
    <script src="../../assets/vendor/libs/datatables-buttons/buttons.print.js"></script>
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>

    <!-- Vendors JS -->

    <script src="../../assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="../../assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="../../assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="../../assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
    <script src="../../assets/vendor/libs/pickr/pickr.js"></script>

    <script src="~/assets/js/AgendaComercialPJ/app-clientes-list.js"></script>
    <script>
        $(document).ready(function () {

            //$("#btn_usuario").click(function () {
            //    //if (!$("form#addNewUserForm").valid()) {
            //    //    alert("ddasda");
            //    //    return false;
            //    //} else {
            //        alert("Grabacion");
            //    //s}
            //})
        })
        function NuevoProspecto() {

            $("#offcanvasProspectoLabel").html("Nuevo Prospecto");
            $("#btn_Experimento").html("Guardar")
            $('#modalhdnIdProspecto').val("0");
            $('#modaltxtNombre').val("");
            $('#modaltxtDescripcion').val("");
            $('#modaltxtTecnologia').val("");
            $('#modaltxtDesarrolladoPor').val("");
            $('#modaltxtfechasolicitud').val("");
            $('#modaltxtfechapublicacion').val("");
            $('#modaltxtUrl').val("");


        }
        function ObtenerClientes(event, CodigoCliente) {
            event.stopPropagation()
            var Cliente = {};
            Cliente.RUC = ruc;

            //alert(Cliente.RUC);
            $.ajax({
                url: $().val(),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: true,
                data: JSON.stringify(Usuario),
                success: function (response) {
                    debugger
                    $("#btn_usuario").html("Modificar")
                    $("#offcanvasAddUserLabel").html("Modificar Usuario");

                    $('#hdn_user_id').val(response.data.IdUsuario);
                    $('#add-user-windows').val(response.data.UsuarioWindows);
                    $('#add-user-fullname').val(response.data.Nombre);
                    $('#add-user-email').val(response.data.Correo);
                    $('#user-role').val(response.data.IdRol);

                    var myOffcanvas = document.getElementById('offcanvasAddUser')
                    var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                    bsOffcanvas.show()
                },
                failure: function (msg) {
                    debugger
                    console.log(msg);
                    // $.unblockUI();
                },
                error: function (xhr, status, error) {
                    debugger
                    console.log(error);
                    //$.unblockUI();
                },
                complete: function () {
                    debugger
                    //$.unblockUI();
                    //$("#prueba").dialog("close")
                }
            });

        }
        function verDetalleProspecto(event, CodigoCliente) {
            event.stopPropagation()
            var Request = {};
            Request.CodigoCliente = CodigoCliente;

            $.ajax({
                url: $("#hdn_Obtener_acClientes").val(),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: true,
                data: JSON.stringify(Request),
                success: function (response) {


                    $("#spanRazonSocial").html(response.data.RazonSocial)
                    $("#spanRUC").html(response.data.RUC)
                    $("#spanDireccion").html(response.data.Direccion)
                    $("#spanUbigeo").html(response.data.Departamento + "-" + response.data.Provincia + "-" + response.data.Distrito)
                    $("#spanGiroNegocio").html(response.data.GiroNegocio)
                    $("#spanGrupoEconomico").html(response.data.GrupoEconomico)
                    $("#spanCorreo").html(response.data.Correo)
                    $("#spanTelefono").html(response.data.Telefono)

                    $("#spanSegmento").html(response.data.Segmento)
                    $("#spanSOW").html(response.data.SOW)
                    $("#spanVolumenNegocio").html(response.data.VolumenNegocio)
                    $("#spanScore").html(response.data.Score)
                    $("#spanVolumenPasivos").html(response.data.VolumenPasivos)
                    $("#spanRentabilidad").html(response.data.Rentabilidad)
                    $("#spanVolumenActivos").html(response.data.VolumenActivos)
                    $("#spanCalificacionBanBif").html(response.data.CalificacionBanBif)
                    $("#spanVolumenContingentes").html(response.data.VolumenContingentes)
                    $("#spanROE").html(response.data.ROE)
                    $("#spanCrossCliente").html(response.data.CrossCliente)
                    $("#spanCalificacionSSFF").html(response.data.CalificacionSSFF)
                    $("#spanSistemaVigilancia").html(response.data.SistemaVigilancia)
                    $("#spanLineaDisponible").html(response.data.LineaDisponible)

                    response.data.CodigoCliente;
                    response.data.Zona;
                    response.data.Facturacion;
                    response.data.DeudaRCC;

                    modaldetalleProspecto.show()
                },
                failure: function (msg) {
                    debugger
                    console.log(msg);
                    // $.unblockUI();
                },
                error: function (xhr, status, error) {
                    debugger
                    console.log(error);
                    //$.unblockUI();
                },
                complete: function () {
                    debugger
                    //$.unblockUI();
                    //$("#prueba").dialog("close")
                }
            });

        }




    </script>
}